.icon {
    color: rgba(1, 7, 10, 0.46);
    font-size: 150px;
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(1, 7, 10, 0.46);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar-brand{
    margin-left: 15px !important;
    font-size: 20px;
}

.navbar-header{
    background-color: rgba(1, 7, 10, 0.46);
}

body{
    font-family: 'Ubuntu', sans-serif;
}


.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgba(1, 7, 10, 0.46) !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.btn-info {
    background-color: rgba(1, 7, 10, 0.46);
}

#logo {
    padding: 0px;
    margin-top: 5px;
    width:40px;
    height:40px;

}

.panel {
    border: 1px solid rgba(1, 7, 10, 0.46);
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    background-color: rgba(1, 7, 10, 0.46) !important;
    color: rgb(255, 255, 255);
}

.panel-heading {
    color: rgba(1, 7, 10, 0.46) !important;
    background-color: #ff8a1b !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #ff8a1b;
    color: #fff;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.img-circle {
    width: 250px;
    height: 250px;
}